antrenare
evaluare
imagini_auxiliare
testare
image.png
notes.txt
Laborator 6 copy.ipynb
README.txt
warped_images
warped_images3
venv
warped_images4
templates2
new_try
new_try2
__pycache__/classifier.cpython-311.pyc
